**
!.npmrc
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!packages/
packages/**
!packages/nocodb/
!packages/nocodb/package.json
!packages/nocodb/docker/
!packages/nocodb/docker/main.js
!packages/nocodb/docker/start-local.sh
!packages/nocodb/docker/nc-gui/
!packages/nocodb/docker/nc-gui/**
!packages/nocodb/src/
!packages/nocodb/src/public/
!packages/nocodb/src/public/**
!packages/nocodb-sdk/
!packages/nocodb-sdk/package.json
!packages/nocodb-sdk/build/
!packages/nocodb-sdk/build/**
!packages/nc-knex-dialects/
!packages/nc-knex-dialects/knex-snowflake/
!packages/nc-knex-dialects/knex-snowflake/package.json
!packages/nc-knex-dialects/knex-snowflake/src/
!packages/nc-knex-dialects/knex-snowflake/src/**
!packages/nc-knex-dialects/knex-databricks/
!packages/nc-knex-dialects/knex-databricks/package.json
!packages/nc-knex-dialects/knex-databricks/src/
!packages/nc-knex-dialects/knex-databricks/src/**
!packages/nc-gui/
!packages/nc-gui/.patches/
!packages/nc-gui/.patches/**
